# Dependencies
node_modules

# Vite/Build output
dist
dist-ssr
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-error.log*


# OS and Editor files
.DS_Store           # Mac
.idea/              # WebStorm/IntelliJ
.vscode/            # VS Code (optional, depends on shared settings)
Thumbs.db           # Windows

# Environment variables
.env
.env.local
.env.*.local